<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="42Portfolio, a tool to help 42students generate data. Author: pulgamecanica"> 
    <meta name="robots" content="noindex,nofollow">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{% block title %}42Portfolio{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static 'd3.js' %}"></script>
    <script src="{% static 'voters.js' %}"></script>
    {% block customJSBlock %}{% endblock %}
    {% block customCSSBlock %}{% endblock %}
</head>

<body>
    <div id="background-arena"></div>
    
    <div class="navbar">
        {% block navbar %}
            {% url 'home' as home_url %}
            <a href="{{ home_url }}">
                <img src="{% static 'icons/42.svg' %}" alt="42 Logo" class="logo-img">
            </a>
            {% if request.user.is_authenticated %}
            {% url 'profile' as profile_url %}
            <a href="{{ profile_url }}">
                <img src="{{ request.user.image_url }}" alt="user img" class="profile-img">
            </a>
            {% endif %}
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <footer class="footer">
        {% block votersStats %}
            <div id="votersStats"></div>
        {% endblock %}
        {% block footer %}
        <span>Open Source</span>
        <span>© 2023 | Made with ❤️</span>
        <a href="https://github.com/pulgamecanica/42Portfolio" target="blank">
            <img src="{% static 'icons/gh.svg' %}" alt="GitHub Loo" height="30px">
        </a>
        {% endblock %}
    </footer>
</body>
</html>