services:
  db:
    image: postgres
    container_name: postgresql-docker
    restart: on-failure
    networks:
      - database-network
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    ports:
      - ${POSTGRES_HOST_PORT}:${POSTGRES_HOST_PORT}
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
  backend:
    build: .
    container_name: django-docker
    restart: on-failure
    networks:
      - database-network
    command: python manage.py runserver 0.0.0.0:${BACKEND_PORT}
    volumes:
      - .:/code
    ports:
      - ${BACKEND_PORT}:${BACKEND_PORT}
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    depends_on:
      - db
networks:
  database-network:
    driver: bridge