* {
	font-family: 'Barlow', sans-serif;
}

html {

}

body {
	margin: 0;
	width: 100vw;
	min-height: 100vh;
	background-color: #424242;
	position: relative;
}


.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	gap: 3rem;
	margin: auto;
	height: 100px;
}

.profile-img {
	border-radius: 50%;
	width: 80px;
	height: 80px;
	padding: 1px;
	box-shadow: 1px 2px 1px 1px gray;
	background-color: lightgrey;
}

.profile-img:hover {
	background-color: blueviolet;
	box-shadow: 1px 2px 1px 1px lightgrey;
}

.logo-img {
	height: 95px;
	width: auto;
}

.logo-img:hover {
	background-color: gray;
	border-radius: 1rem;
	box-shadow: 1px 2px 1px 1px gray;
	border: 1px blueviolet solid;
	opacity: 0.8;

}

#background-arena {
	position: absolute;
	z-index: -1;
	opacity: 0.2;
	overflow: hidden !important;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

#content {
	max-width: 800px;
	margin: auto;
	background-color: rgba(0, 0, 0, 0.3);
	min-height: 50vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	/*border-radius: 0.5rem;*/
}

#slotMachineContent {
	display: flex;
}

#slotMachineContent .window {
	background: #fafafa;
  	width: 100px;
  	height: 110px;
  	overflow: hidden;
  	border-radius: 5px;
  	margin: 5px;
}
#slotMachineContent .window .options {
	transition: transform 1s ease-in-out;
}

#slotMachineContent .window .options .option {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.footer {
	height: 100px;
	width: 100%;
	left: 0;
	bottom: 0;
	border-top: 1px gray solid;
	padding-top: 1rem;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	background-color: rgba(42, 42, 42, 0.5);
	overflow: hidden;
}

.footer span {
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
	padding: 0.3rem;
	border-radius: 0.5rem;
	font-size: 10px;
}

.footer #votersStats {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
}
